VITE_INVO_APP_MODE=development
VITE_INVO_INDEXER_URL=
VITE_INVO_RECEIVABLE_PACKAGE_ID=
VITE_INVO_RECEIVABLE_MODULE=receivable
VITE_INVO_INVOICE_COUNTER_ID=
VITE_INVO_PLATFORM_CONFIG_ID=
VITE_WALRUS_PUBLISHER_URL=https://publisher.walrus-testnet.walrus.space
VITE_WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space
VITE_WALRUS_STORAGE_EPOCHS=5
VITE_SUPABASE_URL=your_project_url
VITE_SUPABASE_ANON_KEY=your_anon_public_key
SUPABASE_URL=your_project_url
SUPABASE_SERVICE_ROLE_KEY=server_side_only_service_role_key
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
RECEIVABLE_PACKAGE_ID=
RECEIVABLE_MODULE=receivable
